* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--border-radius: 8px;
	--blue-color-1: #eaebee;
	--blue-color-2: #abb6c7;
	--blue-color-3: #486c99;
	--badge-color: #4fb14f;
}

body,
html,
#root {
	height: 100%;
}

html {
	font-family: sans-serif;
	color: #abb6c7;
}
body {
	background-color: #fcfcfc;
}

a {
	text-decoration: none;
}
a:hover {
	opacity: 0.6;
}
